[package]
name = "basm"
version = "0.2.0"
edition = "2021"

[dependencies]
clap = { version = "4.5.26", features = ["derive"] }
once_cell = "1.20.2"
colored = "3.0.0"

[profile.release]
debug = 0
opt-level = 3
codegen-units = 1
strip = true

